name: Sync translations with Crowdin

on:
  push:
    branches: [ maincr ]
    paths:
      - '**/Resources*.resx'
  workflow_dispatch:

env:
  # The git branch used for sync with crowdin and for the pull request
  BRANCH: crowdin
  # crowdin config
  CONFIG: '.github/.crowdin.yml'
  PROJECT: ${{ secrets.CROWDIN_PROJECT_ID }}
  TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
  
concurrency:
  group: ${{ github.workflow }}

jobs:
  sync:
    name: Sync translations with crowdin
    runs-on: ubuntu-latest
    steps:    
    - name: Install crowdin cli
      run: |
        wget https://artifacts.crowdin.com/repo/deb/crowdin3.deb -O crowdin.deb --no-verbose
        sudo dpkg -i crowdin.deb
        
    - name: Setup crowdin branch
      run: |
        ARGS="--base-path=. --config=$CONFIG --project-id=$PROJECT --token=$TOKEN --no-progress"
        REF=$(basename $GITHUB_REF)
        crowdin branch add $REF $ARGS
        ARGS="--branch=$REF $ARGS"        
        echo "ARGS=$ARGS" >> $GITHUB_ENV

    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Merge changes from git and crowdin and sync back to crowdin
    ##############################################################

    - name: Prepare git branch for merge
      run: |
        git config user.name "Bot"
        git config user.email "<>"
        git checkout $BRANCH 2>/dev/null || git checkout -b $BRANCH $GITHUB_REF

    - name: Download changes from crowdin
      run: |
        crowdin download sources $ARGS
        crowdin download $ARGS
        git status -s
        git add .
        git commit -m "Update from crowdin" --allow-empty 

    - name: Merge and resolve conflicts
      run: |     
        git merge $GITHUB_REF -Xtheirs -v

    - name: Upload to crowdin
      run: |
        crowdin upload sources --delete-obsolete $ARGS
        crowdin upload translations $ARGS

    # Create or update the pull request with data from crowdin
    ###########################################################

    - name: Clean git branch
      run: |
        git checkout -B $BRANCH $GITHUB_REF
        git checkout $(basename $GITHUB_REF)

    - name: Download from crowdin
      run: |
        crowdin download sources $ARGS
        crowdin download $ARGS
        git status -s
        
    - name: Collect statistics
      run: |
        echo 'INFO<<EOF' >> $GITHUB_ENV
        crowdin status -v $ARGS >> $GITHUB_ENV
        echo 'EOF' >> $GITHUB_ENV

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4.2.3
      with:
        branch: ${{ env.BRANCH }}
        commit-message: Update from crowdin
        title: Translation
        body: |
          Update translations from crowdin
          
          ```
          ${{ env.INFO }}
          ```

