<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PasteIntoFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PasteIntoFile.Properties.Settings>
            <setting name="clrClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filenameTemplate" serializeAs="String">
                <value>{0:yyyy-MM-dd HH-mm-ss}</value>
            </setting>
            <setting name="extensionImage" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="extensionText" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="upgradePerformed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="subdirTemplate" serializeAs="String">
                <value>{0:yyyy-MM-dd}</value>
            </setting>
            <setting name="trayPatchingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </PasteIntoFile.Properties.Settings>
    </userSettings>
</configuration>